<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="WorkbenchHelpersActionSet"
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Workbench Helpers Action Set"
            visible="true"
            id="WorkbenchHelpers.actionSet">
         <action
               class="com.wolfram.workbenchhelpers.actions.SampleAction"
               icon="icons/sample.gif"
               id="com.wolfram.workbenchhelpers.actions.SampleAction"
               label="&amp;Workbench Helpers Action"
               tooltip="Workbench Helpers">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>

</plugin>
